*{margin:0;font-family:arial}body{background-color:#999}.antiall{height:20px}.antiall,.all{width:610px;margin:auto}.all{height:460px;background-image:url(../../imagens/site/img25.png);background-position:center top;background-repeat:no-repeat}.cinza{background-color:#232323;width:100%}.cinza,.cinza2{margin:auto;height:30px}.cinza2{width:955px}.cinza3{float:right;height:28px;width:110px;padding-top:2px}.cinza4{float:left;font-family:Arial;color:#FFF;font-size:15px;width:840px;height:25px;padding-top:5}
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 8px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}